html {
  height: 150%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

content {
  display: block;
  height: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  position: relative;
  text-align: center;
  font-size: 14px;
  height: 80px;
}


.ordering {
  position: fixed;
  top: 120px;
  left: 15px;
  width: 200px;
  transition: 1s;
}


.ordering > select {
  height: 30px;
  background-color: #e8e6e1;
}



/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position:relative;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  flex: 0 0 auto;
 
}
.cont-foot {
  max-width: 960px;
  margin: 0 auto;
}

.task-area {
  background-color: #0000007a;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.task-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  
}
.link-title {
  text-decoration: none;
  color: #ffffff;
}

.link-tag {
  text-decoration: none;
  color: #4eb5d4;
  font-weight: bold;
}
.link-tag:visited {
  
  color: #4eb5d4;
  
}

.tag-main-page {
  text-decoration: none;
  color: #22a0c9;
}

.tag-main-page:visited {
  text-decoration: none;
  color: #2c7892;
}

.task-desc, .task-finish-date, .task-finished {
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
}

.task-finish-date {
  font-style: italic;
  font-weight: bold;
  
}

.finish-low {
  color: #3ed13c;
}

.finish-medium {
  color: #cfc13e
}

.finish-high {
  color: #e47733
}
.finish-critical {
  color: #bd2a2a;
}

.export {
 
  right: 25%; 
}
.export-csv {
  
  right: 38%; 
}

.new-task {
  right: 10%;
  position: fixed;
}

.export, .export-csv {
  position: absolute;
}


.new-task, .export, .export-csv {
  color:#2d63ba;
  font-size: 20;
  
  top: 120px;
}
.new-task:hover, .export:hover, .export-csv:hover {
  font-size: 20px;
  cursor: pointer;
}

.new-task:visited, .export:visited, .export-csv:visited {
  color: #3a8ab5;

}



.task-body {
  font-size: 30px;
  text-decoration: none;
}


.form-container {
  max-width: 400px;
  margin: auto;
}

/* Apply styles to form labels */
.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Apply styles to form input fields */
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form textarea */
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form select dropdown */
.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form submit button */
.form-submit {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  margin: 0 auto;
  display: block;
}

/* Apply styles to form submit button on hover */
.form-submit:hover {
  background-color: #45a049;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}



.edit {
  background-color: rgb(218, 147, 54);
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;

 
}

.delete {
  background-color: rgb(179, 27, 27);
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  

}

.edit, .delete {
  
  float: right;
  margin-right: 20px;
  display: block;
}

.delete>a, .edit>a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding-top: 3px;
  display: block;
  
}

.delete>a:hover , .edit>a:hover {
  font-weight: bold;
}

.menu-tools {
  height: 50px;
}


.pagination {
  margin-left: 30px;
  padding: 5px;
}

.login-body {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30%;
  height: 50%;
}

.login-form p{
  margin-bottom: 30px;
}

.title-name {
  
  position: absolute;
  display: inline-block;
  left: 45%;
  
}

.user {
  display: inline-block;
  position: absolute;
  top: 35%;
  right: 5%;
  font-size: 20px;
 
}
.user a {
  text-decoration: none;

  color: #fff;
}

.user a:hover {
 
  color: #b9b8b8;
}


.logout-body {
  position: relative;
  display: block;
  
  margin-left: 50px;
}

.edit-profile {
  
  width: 600px;
  margin: 0 auto;
}

/* Profile styles */

.profile {
  position: relative;
  width: 100%;
  height: 100%;

}

.profile-user {
  height: 500px;
  width: 500px;
  position: relative;
  background-color: #d1d1d1;
  border: 1px solid;
  border-radius: 20px;
  top: 20px;
  left: 20px;
}

.profile-user h3 {
  font-size: 25px;
  top: 10px;
  left: 40%;
  position: absolute;
}

.profile-user p {
  font-size: 20px;
  margin-bottom: 15px;
}

.profile-user img {
  position: absolute;
  top: 100px;
  left: 30px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-data {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 20%;
  right: 0;
}




.profile-tasks {
  position: absolute;
  background-color: #d1d1d1;
  border: 1px solid;
  border-radius: 20px;
  width: 60%;
  top: 20px;
  right: 20px;
  height: 500px;
}
.profile-wrapper {
  position: relative;
  width: 100%;
}

.finished-tasks,.unfinished-tasks {
  padding: 10px;
  position: absolute;
  top:10px;
 
}
.unfinished-tasks {
  right: 10%;
}
.finished-tasks {
  left: 10%;
}

.profile-tasks .title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.task-list ul {
  list-style-type: decimal;
  font-size: 20px;
  
}

.task-list a {
  text-decoration: none;
  color:#000;
}

.finished-tasks a {
  color:rgb(52, 172, 48)
}

.finished-tasks a:hover {
  color:rgb(46, 133, 43)
}

.unfinished-tasks a {
  color:rgb(224, 49, 43)
}

.unfinished-tasks a:hover {
  color:rgb(167, 40, 35)
}

.profile-nav {
  position: absolute;
  bottom: 5px;
  font-size: 20px;
  left: 30%;
}

.profile-nav a {
  text-decoration: none;
  color: #000; 
}

.profile-nav a:hover {
  font-weight: bold;
  color: #443e3e; 
}