html {
  height: 150%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

content {
  display: block;
  height: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}


.ordering {
  margin: 20px;
  width: 200px;
  
}

.ordering > select {
  height: 30px;
  background-color: #e8e6e1;
}



/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position:relative;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  flex: 0 0 auto;
 
}
.cont-foot {
  max-width: 960px;
  margin: 0 auto;
}

.task-area {
  background-color: #0000007a;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.task-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  
}
.link-title {
  text-decoration: none;
  color: #ffffff;
}

.link-tag {
  text-decoration: none;
  color: #4eb5d4;
  font-weight: bold;
}
.link-tag:visited {
  
  color: #4eb5d4;
  
}

.tag-main-page {
  text-decoration: none;
  color: #22a0c9;
}

.tag-main-page:visited {
  text-decoration: none;
  color: #2c7892;
}

.task-desc, .task-finish-date, .task-finished {
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
}

.task-finish-date {
  font-style: italic;
  font-weight: bold;
  
}

.finish-low {
  color: #3ed13c;
}

.finish-medium {
  color: #cfc13e
}

.finish-high {
  color: #e47733
}
.finish-critical {
  color: #bd2a2a;
}

.new-task {
  color:#2d63ba;
  font-size: 20;
  position: absolute;
  right: 20px;
  top: 22%;
  
  
}
.new-task:hover {
  font-size: 20px;
}

.new-task:visited {
  color: #3a8ab5;

}

.task-body {
  font-size: 30px;
  text-decoration: none;
}


.form-container {
  max-width: 400px;
  margin: auto;
}

/* Apply styles to form labels */
.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Apply styles to form input fields */
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form textarea */
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form select dropdown */
.form-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Apply styles to form submit button */
.form-submit {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  margin: 0 auto;
  display: block;
}

/* Apply styles to form submit button on hover */
.form-submit:hover {
  background-color: #45a049;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}



.edit {
  background-color: rgb(218, 147, 54);
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;

 
}

.delete {
  background-color: rgb(179, 27, 27);
  width: 120px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  

}

.edit, .delete {
  
  float: right;
  margin-right: 20px;
  display: block;
}

.delete>a, .edit>a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding-top: 3px;
  display: block;
  
}

.delete>a:hover , .edit>a:hover {
  font-weight: bold;
}

.menu-tools {
  height: 50px;
}


.pagination {
  margin-left: 30px;
  padding: 5px;
}

.login-body {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 30%;
  height: 50%;
}

.login-form p{
  margin-bottom: 30px;
}

.title-name {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.user {
  display: block;
  position: relative;
 
  right: 10px;
}
.user a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.user a:hover {

  color: #b9b8b8;
}


.logout-body {
  position: relative;
  display: block;
  
  margin-left: 50px;
}