{% extends 'todolist/base.html' %}


{% block content %}
    <a class="new-task" href='{% url "todolist:add_task" %}'>Add new task</a>   
{% if tasks %}
    <div class="ordering">
        <select id='ordering'name="ordering">
            <option >Order by importance</option>
            <option >Order by finished</option>
            <option >Order by not finished</option>
        </select>
    </div>
    <div class="container">
        
        {% if tag %}
            <h2>Tasks tagged with tag {{ tag.name }}. Go back to <a class="tag-main-page" href="{% url 'todolist:home' %}">main page</a>.</h2>
        {% else %}
            <h2>Tasks</h2>
        {% endif %}
        <div class="tasks-list">
        {% for task in tasks %}
        <div class="tasks-cont">
        <div class="task-body">
            <div class="task-area">
                <p class="task-title"><a href="{{task.get_absolute_url}}" class="link-title">{{task.title}}</a></p>
                <p class="task-desc">Task: {{task.description|truncatewords:10}}</p>
                {% if task.signif.importance == "Low"%}
                    <p class="task-finish-date"><span class="finish-low">Finish date: {{task.finish_date}}</span></p>
                {% elif task.signif.importance == "Medium"%}
                    <p class="task-finish-date"><span class="finish-medium">Finish date: {{task.finish_date}}</span></p>
                {% elif task.signif.importance == "High"%}
                    <p class="task-finish-date"><span class="finish-high">Finish date: {{task.finish_date}}</span></p>
                {% else %}
                    <p class="task-finish-date"><span class="finish-critical">Finish date: {{task.finish_date}}</span></p>
                {%endif%}
                {% if task.finished%}
                    <p class="task-finished">Status: ✅</p>
                {%else %}
                    <p class="task-finished">Status: ❌</p>
                {%endif%}
                {% if task.tag.all%} 
                    <p class="task-desc">Tags: 
                        {% for tag in task.tag.all %}
                        <a class = "link-tag" href="{% url 'todolist:home_by_tags' tag.slug %}">{{tag.name}}</a>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p class="task-desc">Tags: no tags</p>
                {% endif %}

            </div>
        </div>
        </div>
        {% endfor %}
        </div>
        
        
    </div>
    {% include "todolist/pagination.html" with page=tasks%}
{% else %}
<p>No one tasks added</p>
{% endif %}  

{% endblock %}





