{% extends "todolist/base.html" %}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="profile-user">
            <h3>Your profile</h3>
            <div class="profile-data">
                <p>Username: {{request.user.username}}</p> 
                
                {% if request.user.email %}
                <p>Email: {{request.user.email}}</p>
                    
                {% else %}
                <p>Email: not specified</p>
                    
                {% endif %}

                {% if request.user.first_name %}
                <p>First name: {{request.user.first_name}}</p>
                    
                {% else %}
                <p>First name: not specified</p>
                    
                {% endif %}

                {% if request.user.last_name %}
                <p>Last name: {{request.user.last_name}}</p>
                    
                {% else %}
                <p>Last name: not specified</p>
                    
                {% endif %}

                {% if profile_data.date_of_birth %}
                <p>Date of birth: {{profile_data.date_of_birth}}</p>
                    
                {% else %}
                <p>Date of birth: not specified</p>
                    
                {% endif %}
                
            </div>

            <img alt="Profile image" src="{{profile_data.photo.url}}">
            <p class="profile-nav"><a href="{% url 'todolist:edit_profile' %}">Edit profile</a>. <a href="{% url 'todolist:home' %}">Main list</a></p>
        </div>  
        
        <div class="profile-tasks">
            <div class="profile-wrapper">
                <div class="finished-tasks">
                    <div class="title">
                            <span>Completed tasks</span>
                    </div>
                    <div class="task-list">
                        <ul>
                            {% for task in ctasks %}
                                <li><a target="_blank" href="{{task.get_absolute_url}}">{{task.title}} - {{task.finish_date}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="unfinished-tasks">
                    <div class="title">
                        <span>Unfinished tasks</span>   
                    </div>
                    <div class="task-list">
                        <ul>
                            {% for task in unctasks %}
                                <li><a target="_blank" href="{{task.get_absolute_url}}">{{task.title}} - {{task.finish_date}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
        </div>
    </div>
{% endblock %}